* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	padding: 10px;
	height: 5vh;
	background-color: #575454;
}

header ul {
	display: flex;
	justify-content: flex-end;
}

header ul li {
	list-style: none;
	font-size: 18px;
	padding: 0 10px;
}

header ul li a {
	text-decoration: none;
	color: #fff;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 95vh;
	max-width: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 50px;
}

form h1 {
	margin-bottom: 20px;
}

button {
	width: 120px;
	height: 40px;
	border-radius: 6px;
	border-style: none;
	background-color: green;
	color: white;
	margin-top: 20px;
}

button:hover {
	background-color: rgb(43, 133, 43);
	cursor: pointer;
}

.form-input {
	padding-top: 20px;
}

.form-input #codigo {
	border-radius: 4px;
	outline: none;
	border: 1px solid #7d7d7d;
	padding: 4px;
}
